@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2f6658;
  --color-secondary: #5d5d5d;
}

.quicksand-font {
  font-family: "Quicksand", sans-serif;
}

nav ul a.active {
  color: #2f6658;
  border-bottom: 1px solid #2f6658;
}

nav ul a:hover{
  color: #2f6658;
  border-bottom: 1px solid #2f6658;
}